$text-color-light: #fff;
<<<<<<< HEAD
$text-color-midlight: #ddd;
$text-color-dark: #555;
=======
$text-color-dark: #000;
>>>>>>> be4d248d05bb7a93b47eccdce1d4c49a57e15414

$nav-bg: rgba(64, 64, 64, 1);
$nav-text-color: #fff;
$nav-link-color: #bbb;
$nav-link-hover-color: #f55;

<<<<<<< HEAD
$default-background-color: #fcfcfc;
$default-secondary-color: #777;
$default-accent-color: #f55;
$default-line-color: #aaa;
$default-shadow: rgba(170,170,170,.4);
$default-shadow-hover: rgba(255,85,85,.8);
$default-black-shadow: rgba(0,0,0,.3);

$default-alert-color: #f55;
$default-notice-color: #6c2;
=======
$default-background-color: #fff;
>>>>>>> be4d248d05bb7a93b47eccdce1d4c49a57e15414
