<div class="block-2" style="text-align: left;">
	<h1>Info</h1>
	VC2<br />
	PO Box 123<br />
	Tennille, GA 31082<br />
	<br />
	<b>Phone:</b> <%= link_to "478-357-5193", "tel:+14783575193" %><br />
	<b>Email:</b> <%= link_to "vc2office@gmail.com", "mailto:vc2office@gmail.com" %><br />
</div>

<div class="block-2" style="text-align: right;">
	<h1>Hours</h1>
	9:00 AM - 5:00 PM EST &vert; Monday - Friday<br />
</div>