<header-spacer> </header-spacer>
<page-content><narrow-page>

<%= render partial: "info" %>

<div class="block-1">

<hr />
	<h1>Contact</h1>

	<%= render 'form', contact: @contact, disabled: false %>
</div>

</narrow-page></page-content>