<<<<<<< HEAD
<page-content>
		
	<page-title>Editing Feature</page-title>

	<%= render 'form', feature: @feature %>
	
</page-content>
=======
<h1>Editing Feature</h1>

<%= render 'form', feature: @feature %>

<%= link_to 'Show', @feature %> |
<%= link_to 'Back', features_path %>
>>>>>>> be4d248d05bb7a93b47eccdce1d4c49a57e15414
